.position {
  display: flex;
  flex-flow: row wrap;
}

app-header {
  flex: 1 1 100%;
}

app-aside {
  flex: 0 1 15%;
}

/* router-outlet {
  flex: 0 1 85%;
} */

app-car {
  flex: 0 1 85%;
  margin-top: 14vh;
}

app-aside,
router-outlet {
  min-height: 95vh;
}

app-footer {
  flex: 1 1 100%;
}
