<p>car-item works!</p>

<div class="container">
  <img class="img" src="" alt="car"/>
  <div class="descriptionContainer">
      <p>
          <span class="title">Model: </span>
          <span class="textDescription">modelName</span>
      </p>
      <p>
          <span class="title">Description: </span>
          <span class="textDescription">description.slice(0, 30)..........</span>
      </p>
      <p>
          <span class="title">Price: </span>
          <span>€ </span>
          <span class="price">price</span>
      </p>
      <p>
          <a class="btn">Details</a>
      </p>
  </div>
</div>
