<h1>Details Page</h1>
<div class="containerPage">
    <div class="wrapImage">
        <img src="imageUrl" alt="car" class="img" />
        <div class="textDiv">
            <span class="boldText">Description: </span>
            description
        </div>
        <div class="textDiv">
            <span class="boldText">Mobile phone: </span>
            contact
        </div>
        <div class="textDiv">
            <span class="boldText">Price: </span>
            €<span class="price">price</span>
        </div>
        <div>
            <p class="wrapButtons">
                <button class="btn" >Delete</button>
                <!-- <button routerLink=`/edit/${this.props.match.params.imgId}` class="btn">Edit</button> -->
            </p>

        </div>
    </div>
</div>
