<header>
  <div class="wrap-logo">
      <img class="img" src="../../../assets/car-logo.png" alt="logo" />
  </div>
  <nav>
      <ul>
          <li>
            <a>About Us</a>
          </li>
          <li>
            <a>Contact Us</a>
          </li>
          <li>
            <a>Publications</a>
          </li>
          <li>
            <a>Login</a>
          </li>
          <li>
            <a>Register</a>
          </li>
          <li>
            <a>Create</a>
          </li>
          <li>
            <a>Profile</a>
          </li>
          <li>
            <a>Logout</a>
          </li>
      </ul>
    </nav>
  <div class="user-name">
      <p>
          User:
      </p>
  </div>
</header>
