<form class="center">
  <div class="position-form">
    <h1>Login</h1>
    <div class="input-form">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username">
    </div>
    <div class="input-form">
      <label for="password">Password: </label>
      <input type="password" name="password" id="password">
    </div>
    <div class="center">
        <div>
            <span class="styleTextInfo">If you haven't account, then just go to </span>
            <a routerLink="/user/register" class="styleLogin">Register</a>
        </div>
        <button class="submit">Login</button>
    </div>
  </div>
</form>
