<form class="center">
  <div class="position-form">
    <h1>Register</h1>
    <div class="input-form">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username">
    </div>
    <div class="input-form">
      <label for="password">Password: </label>
      <input type="password" name="password" id="password">
    </div>
    <div class="input-form">
      <label for="rePassword">Re-Password: </label>
      <input type="password" name="rePassword" id="rePassword">
    </div>
    <div class="center">
        <div>
            <span class="styleTextInfo">If you have already account, then just go to </span>
            <a routerLink="/user/login" class="styleLogin">Login</a>
        </div>
        <button class="submit">Register</button>
    </div>
  </div>
</form>

